* {
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url(background.jpg);
    background-color: rgba(0, 0, 0, 0.2);
    

}

.navbar {
    height: 80px;
    width: 1076px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 40px;
    width: 145px;
    color: rgba(229, 9, 20, 1);
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 65px;
    margin-right: 30px;
    font-weight: 900;
}

.info {
    margin-left: 50px;
    position: relative;
    left: 300px;
}

.lang {
    color: white;
    font-weight: 600;
    background-color: transparent;
    width: 120px;
    height: 30px;
    border: 1px solid rgba(255, 255, 255, 0.604);
    border-radius: 4px;
    margin: 1rem;
}

button {
    height: 32px;
    width: 76px;
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

.main {
    position: relative;
    top: 150px;
    left: 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.abt {
    font-size: 40px;
    color: white;
    margin-bottom: 8px;
}

p {
    font-size: 16px;
    color: white;
    margin-bottom: 24px;
    font-family: unset;
}

h3 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.848);
    width: 505px;
    font-weight: 800;
}

.inp {
    padding-top: 16px;
    height: 70px;
    width: 508px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input {
    height: 56px;
    width: 310px;
    background-color: black;
    color: wheat;
    font-size: 16px;
    padding-left: 16px;
    border: 1px solid rgba(245, 222, 179, 0.541);
    border-radius: 5px;
}

.start {
    background-color: red;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    height: 55px;
    width: 180px;
    margin-left: 8px;
    font-size: 21px;
}